# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# SQLite database
database.sqlite
*.sqlite3

# MacOS
.DS_Store

# IDEs and editors
.idea/
.vscode/

# Other
public/*.cache